/* 公共的样式 */
.container{
  padding: 50px;
}
.public-box{
  padding: 30px;
  background-color: #fff;
  border: 1px solid rgba(160, 160, 160, 0.3);
}
.blog-container{
  .item{
    display: block;
    margin-bottom: 30px;
    .title{
      font-size: 22px;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      &:hover{
        color: #c74dc4;
      }
    }
    .content{
      margin-top: 20px;
    }
    .foo{
      margin-top: 30px;
      .goDetailsBtn{
        display: inline-block;
        height: 50px;
        padding: 0 50px;
        border: 1px solid rgba(160, 160, 160, 0.3);
        line-height: 50px;
        font-size: 14px;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        &:hover{
          border-color: #c74dc4;
          color: #c74dc4;
        }
      }
      .date{
        color: #646464;
        font-size: 14px;
        line-height: 50px;
      }
    }
  }
}
